<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- ========================================================================================== appenders       -->
    <appender name="Chainsaw" class="org.apache.log4j.net.SocketAppender">
        <param name="RemoteHost" value="localhost"/>
        <param name="Port" value="4445"/>
        <param name="LocationInfo" value="true"/>
        <layout class="org.apache.log4j.SimpleLayout"/>
    </appender>

    <!-- ========================================================================================== loggeres        -->
    <logger name="com.seventytwomiles" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="Chainsaw"/>
    </logger>


    <root>
        <priority value="INFO"/>
        <appender-ref ref="Chainsaw"/>
    </root>

</log4j:configuration>
